body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table{
	border-collapse: collapse;
	cellspacing: 0; 
}
table, td, tr{
	border: 0;
	padding: 0px;
	margin: 0px;
}
td, th{
	text-align: left;
	padding: 8px;
}
.even {background-color: #edf7ed}
tr:nth-child(odd) {background-color: #dbefdc}
th{
    background-color: #4CAF50;
    color: white;
}
.name{
	background-color: #6fbf72;
}
