doctype html
html
  head
    title= title
   
    link(rel='stylesheet', href='/public/stylesheets/datatables.css')

    script(src="/public/datatables.js")
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
    block content
