extends layout

block content
  h1 Statistics
  table
    thead
      tr
        th Time
        th(colspan="#{data[0][0].thermometers.length*2}") Thermomethers
    tbody
      for record in data
        tr
          td 
            span.time #{record[0].time}
          for thermometer in record[0].thermometers
            td.name
              span #{thermometer.name}
            td.temp
              span #{thermometer.temp}
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io.connect(location.host+':80');
    socket.on('filechanged', function(data) {
        location.reload();
    });